<%- include("header") -%>

<h2>Hey! You've found the (secret) about page!</h2>
<p>While developing this app, I used:</p>
<ul>
  <li>Javascript</li>
  <li>EJS</li>
  <li>Node</li>
  <li>Express</li>
  <li>MongoDB</li>
  <li>Mongoose</li>
  <li>Git</li>
  <li>Heroku</li>
</ul>
<p>...and here, a random pic for your appreciation. :)</p>
<img src="https://picsum.photos/350/350" style="padding-left: 3%" />

<%- include("footer") -%>
